* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.line {
    text-decoration: line-through;
}

li {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
}

i:hover {
    color: red;
}