* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.line {
    text-decoration: line-through;
}

li {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
}

i:last-child:hover {
    color: red;
}

i:first-child:hover {
    color: blue;
}

i {
    margin-right: 1rem;
}

.drag-el {
    background-color: bisque;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
}